<%= link_to "Models Index", models_path %>


<% @models.each do |model| %>
  <h1>Model: <%= model.name %></h1>
  <p>Year: <%= model.year %></p>
  <p>Vintage Instrument?: <%= model.vintage %></p>
  <p>Value: <%= model.value %></p>

  <% end %>
