<%= link_to "Builder Index", builders_path %>
<%= link_to "Models Index", models_path %>


<% @models.each do |model| %>
  <% if model.vintage == true  %>
  <h1>Model: <%= model.name %><%= button_to "Edit #{model.name}", "/models/#{model.id}/edit", method: :get%></p></h1>
  <p><%= link_to "Delete #{model.name}", "/models/#{model.id}", method: :delete %></p>

  <p>Year: <%= model.year %></p>
  <p>Vintage Instrument?: <%= model.vintage %></p>
  <p>Value: <%= model.value %></p>
  <% end %>


  <% end %>

