<%= link_to "Models Index", models_path %> 
<p><%= @instrument_builder.id %></p>
<h1>Builder: <%= @instrument_builder.name %></h1>
<p>Founded in: <%= @instrument_builder.year_founded %></p>
<p>Still in business? <%= @instrument_builder.in_business %></p>
<p>How many models? <%= @instrument_builder.models.count %></p>